*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: silver;
   padding: 20px;
}
.todo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 750px;
   margin: 0 auto;
}
input {
   border:  2px solid teal;
   font-size: 20px;
   height:  40px;
   width: 500px;
   padding-left: 5px;
   

}

#create_button {
   width: 200px;
   height: 40px;
   border: 2px solid teal;
   cursor: pointer;
   background: rgb(0,0,0,0.1);
   font-size: 22px;

}
.block_text {
   width: 100%;
   border: 2px solid teal ;
   padding: 8px ;
   margin-top: 10px;
   display: flex;
   justify-content: space-between

}
#todo_list{
   margin: 0 auto;
   width: 750px;
  
}
  h3 {
   font-size:  28px;
   font-family: 'Franklin Gothic Heavy', 'sans-serif';
}

   span {
      display: block;
      width: 50px;
      height: 50px;
      border: 1px solid ;
      border-radius: 50%;
}

.buttons_div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 320px;
  
   
}

.dele_button {
   width: 150px;
   height: 40px;
   border: 2px solid blanchedalmond;
   border-radius: 20px;
   background-color: red;
   cursor: pointer;
   color: aliceblue;
   font-size: 20px;
}
.edit_button {
   width: 150px;
   height: 40px;
   border: 2px solid blanchedalmond;
   border-radius: 20px;
   background : darkblue;
   cursor: pointer;
   color: aliceblue;
   font-size: 20px;

}
